<!-- NAVIGATION -->

<header class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a ui-sref-active="active" ui-sref="home">GoodThings</a></li>
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref-active="active" ui-sref="profile">Profile</a></li>
      <li><a ui-sref-active="active" ui-sref="login" ng-show="!currentUser">Login</a></li>
      <li><a href="#/logout()" ng-show="currentUser">Logout</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <input type="search" placeholder="Search">
      </li>
      <li>
        <button type="button" class="button">Search</button>
      </li>
    </ul>
  </div>
</header>
