

// =======================================================
// 							   				WELCOME PAGE
// =======================================================

body {
	background-image: url("../img/sand-background.png");
}
.top-bar {

}
.container {

}

#main-row {
	max-width: 100%;
}

header {
	text-align: center;
	color: maroon;
}


// =======================================================
// 							   				TEMPLATES
// =======================================================

footer {
	text-align: center;
}
